.intro{
    margin-top: 53px;
}
.intro h1{
    color: #00b39b;
    margin-top: 33px;
} 

.text p{
    text-align: justify;
    margin-top:  63px;
    color: #747474;
}
.row{
    margin-right: 0% !important;
}
.logo-1{
    margin-top: 39px;

}