.card-bg{
    background-image: url(./bg.png) ;
    width: 101%;
    height: 591px;
    margin-top: 48px !important;
    padding-left: 6%;
   

}
.text{
    margin-top: 35px !important;
    text-align: justify !important;
}
.text h1{
    color: #00b39b;
    
}
.text p{
    color: #747474;
    
}
@media only screen and (max-width: 568px){
    .card-bg{
        height: 860px;
    }
    .text{
        
        text-align: center !important;
    }
}